<section class="bg-white dark:bg-gray-900 text-dark-grey-900 dark:text-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="container flex flex-col items-center gap-16 mx-auto my-32">
      <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
        <div
          class="flex flex-col items-center gap-3 px-8 py-10 rounded-3xl shadow-main"
        >
          <svg
            class="w-8 h-8 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            />
          </svg>
          <p class="text-2xl font-extrabold">Email</p>
          <p class="text-base leading-7">Contact us at</p>
          <a class="text-lg font-bold" href="mailto: hello@loopple.com"
            ><%= business.contacts.email %></a
          >
        </div>
        <div
          class="flex flex-col items-center gap-3 px-8 py-10 rounded-3xl shadow-main"
        >
          <svg
            class="w-8 h-8 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
            />
          </svg>
          <p class="text-2xl font-extrabold">Phone</p>
          <p class="text-base leading-7">Reach out to us by phone</p>
          <a class="text-lg font-bold" href="tel:+516-486-5135">
            <%= business.contacts.phone %>
          </a>
        </div>
        <div
          class="flex flex-col items-center gap-3 px-8 py-10 rounded-3xl shadow-main"
        >
          <svg
            class="w-8 h-8 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="text-2xl font-extrabold">Location</p>
          <p class="text-base leading-7">Find us at our office</p>
          <a
            class="text-lg font-bold"
            target="_blank"
            href="https://goo.gl/maps/QcWzYETAh4FS3KTD7"
            >10924 Urna Convallis</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
